{% extends 'base.html' %}
{% load static %}

{% block title %}
	Ong 7 vidas
{% endblock title %}


{% block content %}
	<center class='mt-4 mb-5'>
		<div class="text">
			<span>
				Todo amor é
			</span>
			<br>
			<span>
				Bem-vindo
			</span>
		</div>
		<img src="{% static '/images/seta.png' %}" class="arrow">
		<img src="{% static '/images/cat and dog.png' %}" id="cat-and-dog-img">

		<div class="buttons">
			<a href="#" class="btn btn-info">Doar</a>
			<a href="#" class="btn btn-danger">Adotar</a>
		</div>
	</center>
{% endblock content %}
