@import 'susy';
@import 'menu';


$susy: (
    columns: 12,
    container: 1168px,
    global-box-sizing: border-box,
    gutter-position: split,
    gutters: 0.25,
);


body {
    background: #F1AC48;
    color: white;

    & > * {
        @include container;
    }
    main > section {
        @include span(full);
    }

}

.arrow {
    position: absolute;
    right: 20rem;
    top: 20rem;
    width: 9rem;
}


.text {
    position: relative;
    top: 5rem;
    left: 20rem;
    width: 50%;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: bold;

    span {
        &:nth-child(3) {
            color: #f24848;
        }
    }
}

.buttons {
    position: relative;
    bottom: 2rem;

    .btn-lg {
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-size: 2rem;
        line-height: 1.5;
        border-radius: 0.3rem;
        margin-left: 3rem;
        font-weight: bold;
    }
}