.navbar {
    background: #E7AC38;
    font-weight: bold;
}

.navbar-nav {
    .nav-link {
        text-decoration: none;
        color: white;
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 30px;
            font-size: 15px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
        }
    }
    .active {
        a {
            border-bottom: 3px solid;
            border-color: #2c2c2c;
        }
    }
}